@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* CSS reset */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}
.container {
	margin: auto;
	max-width: 1200px;
}

/* ---------- Header and Footer --------- */

header,
footer {
	background-color: #1a4d2e;
	padding: 20px 0;
}

header,
header a {
	color: white;
}
header img {
	padding: 10px;
	background-color: white;
	border-radius: 100%;
}
.logo a {
	text-decoration: none;
}

header nav ul li {
	display: inline;
	margin-right: 15px;
}

header nav ul {
	text-align: right;
}

footer a,
footer address {
	color: white;
}

footer a {
	text-decoration: none;
	line-height: 30px;
}

address {
	margin-top: 20px;
}

/* ------------------------ */

.form-section {
	padding: 40px 0;
}
.form-section h1 {
	text-align: center;
	margin-bottom: 40px;
}

form {
	border: 1px solid rgb(189, 188, 188);
	border-radius: 10px;
	padding: 30px;
}

form div {
	margin-bottom: 30px;
}

form div input,
form div select {
	margin-left: 10px;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
}

form div textarea {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 20px;
	margin-top: 10px;
}

.button {
	padding: 8px 16px;
	background-color: #ff9f29;
	border: 1px solid grey;
	border-radius: 4px;
}
